extends layout.pug

include mixins

block content
  <h1>Recherche de restaurants</h1>

  <form method="get" action="?">
    <fieldset>
      <legend>Trouvez un restaurant dans NYC :</legend>

        <label>Nom du restaurant : <input type="search" name="searchString" placeholder="e.g. Starbucks" value="#{searchString}" /></label>
    </fieldset>

    <button type="submit">Rechercher</button>
  </form>

  if results
    if results.length > 0
      <ul class="list-results">
      each restaurant in results
        +restaurantCard(restaurant)
      </ul>
    else
      <p>Aucun résultat ne correspond à votre recherche</p>
